@charset 'utf-8';
body {
	background-color: #db332a;
	color: #fff;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.header { 
	background-color: #c32019;
	height: 2.5rem;
	i.back {
		position: absolute;
		left: 0.1rem;
	}
	h2 {
		text-align: center;
		font-size: 1rem;
		color: #fff;
		line-height: 2.5rem;
    	margin: 0;
	}
}
.f-warp {
	.f-bg-1{
		width: 100%;
		height: 11.5rem;
	    background: #fff url(../images/login_01.jpg) no-repeat center top;
	    background-size: cover;
	    margin-bottom: 3rem;
	}
	//登陆
	.f-login-form {
		margin: 0 0.75rem;

		.f-tel-wrap input {
			width: 100%;
			color: #000;
			padding: 0.6rem 0 0.6rem 2.25rem;
			border-radius: 4px;
			&:focus {
			    outline: none;
			    outline-offset: 0;
			}
			background: url(../images/login_02.png) #fff no-repeat left;
			background-size: contain;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
		}
		.f-pass-wrap input {
			width: 100%;
			color: #000;
			margin-top: 0.75rem;
			padding: 0.6rem 0 0.6rem 2.25rem;
			border-radius: 4px;
			&:focus {
			    outline: none;
			    outline-offset: 0;
			}
			background: url(../images/login_03.png) #fff no-repeat left;
			background-size: contain;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
		}
		.f-forgot-pass {
			color: #fff;
			text-decoration: underline;
		}
		.f-login-btn {
			display: block;
			width: 100%;
			height: 3rem;
			font-size: 1rem;
			margin-top: 1.2rem;
			line-height: 3rem;
			text-align: center;
			color: #fff;
			border-radius: 2.5rem;
			background-color: #fddd32;
			box-shadow: 0 5px 0 0 #c6413c, inset 0 -5px 0 0 #ecb92a;
			-moz-box-shadow: 0 5px 0 0 #c6413c, inset 0 -5px 0 0 #ecb92a;
			-o-box-shadow: 0 5px 0 0 #c6413c, inset 0 -5px 0 0 #ecb92a;
			-webkit-box-shadow: 0 5px 0 0 #c6413c, inset 0 -5px 0 0 #ecb92a;
			&:hover, &:focus, &:active {
				text-decoration: none;
			}
		}
	}
	//注册
	.f-register-form {
		margin: 0 15px;
		input {
			width: 100%;
			padding: 13px 0 13px 45px;
			border-radius: 4px;
			&:focus {
			    outline: none;
			    outline-offset: 0;
			}
			background: url(../images/login_02.png) #fff no-repeat left;
			background-size: contain;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
		}
		.f-u-wrap {
			margin-top: 18px;

		}
	}
	.f-agree {
		margin-top: 15px;
		cursor: pointer;
	    -webkit-user-select: none;
	    color: #fff;
	    @include clearfix();
		.f-checkbox {
			float: left;
			margin-right: 6px;
			vertical-align: middle;
			display: inline-block;
			width: 18px;
			height: 18px;
			background-color: #fff;
			border-radius: 5px;
		}
	}
}
.f-regist {
	display: block;
	text-align: center;
	margin-top: 1rem;
	color: #fddc2f;
	font-size: 0.9rem;
	text-decoration: underline;
}
